/* Colors */
@font-face {
  font-family: "Crimson Text Regular";
  src: url("../../assets/fonts/crimson-text/CrimsonText-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Crimson Text Bold";
  src: url("../../assets/fonts/crimson-text/CrimsonText-Bold.ttf") format("truetype");
}
.vtt .window-app.dialog input[type=radio] {
  margin: 0 8px;
  flex: 0;
  align-self: center;
}
.vtt .window-app .window-header .window-title {
  margin: 0 0 0.5rem !important;
}

.pbta.sheet.item .sheet-body {
  padding: 8px;
}

/* Playbook */
.pbta.sheet .cell--image {
  background: rgba(39, 44, 51, 0.75);
}
.pbta.sheet .caps {
  text-transform: uppercase;
}
.pbta.sheet h1, .pbta.sheet h2, .pbta.sheet h3, .pbta.sheet h4, .pbta.sheet h2 label {
  border: none;
}
.pbta.sheet h1, .pbta.sheet h2, .pbta.sheet h3, .pbta.sheet h2 label {
  font-family: "Crimson Text Regular", serif;
}
.pbta.sheet .sheet-tabs .item {
  font-family: "Crimson Text Regular", serif;
}
.pbta.sheet .cell__title {
  font-family: "Crimson Text Regular", serif;
  font-weight: bold;
  color: #3f4652;
  border-bottom: 2px solid #3f4652;
  text-transform: uppercase;
}
.pbta.sheet header.sheet-header h1 input {
  margin: 0;
}
.pbta.sheet.window-app input:disabled, .pbta.sheet.window-app select:disabled, .pbta.sheet.window-app textarea:disabled {
  color: #c1c1c1;
  background-color: #3f4652;
  height: 40px;
  padding: 0 8px;
}
.pbta.sheet.window-app input, .pbta.sheet.window-app button, .pbta.sheet.window-app select, .pbta.sheet.window-app textarea {
  background-color: #dddedf;
  color: #272c33;
  padding: 0 8px;
}
.pbta.sheet .cell--companion .item-controls {
  flex: 0 0 auto;
}
.pbta.sheet .cell--companion .items-list .item .flexrow {
  gap: 4px;
  align-items: center;
}
.pbta.sheet .cell--companion .items-list .item .flexrow h2 {
  margin: 0 !important;
  flex: 0 0 auto;
}
.pbta.sheet .cell--companion .items-list .item .flexrow label {
  align-self: self-start;
}
.pbta.sheet .editor-content {
  background-color: #dddedf;
  border-radius: 4px;
  padding: 0 8px;
}
.pbta.sheet .window-header {
  background-color: #272c33;
}
.pbta.sheet .window-content {
  background-color: #ebeced;
  background: url("../assets/layout/background.webp");
  background-size: cover;
  background-position: left top;
  background-repeat: no-repeat;
  color: #272c33;
  padding: 0;
}
.pbta.sheet .window-content .sheet-header {
  padding: 8px;
  background-color: #272c33;
}
.pbta.sheet .window-content .sheet-header .header-fields {
  color: #ebeced;
}
.pbta.sheet .window-content .sheet-top .sheet-attributes {
  padding: 8px;
  background-color: #3f4652;
  background: url("../assets/layout/background-header.webp");
  background-size: cover;
  background-position: left top;
  background-repeat: no-repeat;
}
.pbta.sheet .window-content .sheet-top .sheet-attributes .cell__title {
  color: #ebeced;
  border-bottom: 2px solid #3f4652;
  text-transform: uppercase;
}
.pbta.sheet .window-content .sheet-top .sheet-attributes-top {
  padding: 0;
  border: none;
  margin: 0;
}
.pbta.sheet .window-content .sheet-bottom {
  padding: 8px;
}
.pbta.sheet .tabs .item {
  border-radius: 4px 4px 0 0;
  background: #c1c1c1;
  color: #3f4652;
  margin: 0 4px;
  padding: 4px;
  line-height: 1.6;
  text-transform: uppercase;
  font-size: var(--font-size-16);
  flex: 1;
}
.pbta.sheet .tabs .item.active {
  background: #272c33;
  color: #ebeced;
  text-shadow: none;
  font-weight: bold;
}
.pbta.sheet .tabs .item:hover, .pbta.sheet .tabs .item:focus {
  background: #a6170a;
  color: #ebeced;
  text-shadow: none;
}
.pbta.sheet .window-resizable-handle {
  background: #3f4652;
}
.pbta.sheet .sheet-attributes .cell--stats .stat {
  background: #7d1208;
  color: #ebeced;
}
.pbta.sheet .sheet-attributes .cell--stats .stat:hover {
  background: #a6170a;
}
.pbta.sheet .sheet-attributes .cell--stats .stat .cell__title {
  border-bottom: 1px solid #b17772;
}
.pbta.sheet.item .window-content .flexrow a, .pbta.sheet.item .window-content .flexrow input[type=checkbox] {
  flex: 0;
}
.pbta.sheet button:disabled {
  background-color: rgba(153, 153, 153, 0.092);
  color: rgba(84, 84, 84, 0.424);
  border-color: rgba(84, 84, 84, 0.424);
  cursor: default;
}
.pbta.sheet button:disabled:hover {
  background-color: rgba(153, 153, 153, 0.092);
  color: rgba(84, 84, 84, 0.424);
  border-color: rgba(84, 84, 84, 0.424);
  cursor: default;
}
.pbta.sheet .cell--destiny {
  margin-bottom: 20px;
}
.pbta.sheet .cell--destiny .cell__title {
  height: 37px;
  margin-top: 3px;
  align-items: center;
}
.pbta.sheet .cell--destiny .flexrow {
  gap: 5px;
  align-items: center;
}
.pbta.sheet .cell--destiny .view-destiny {
  flex: 0;
}
.pbta.sheet .cell--destiny .fa-eye-slash {
  color: rgba(84, 84, 84, 0.424);
}
.pbta.sheet .playbook-details .flexrow {
  gap: 10px;
}
.pbta.sheet .playbook-details .flexcol {
  align-self: flex-start;
}
.pbta.sheet.item.playbook .item-form .item-controls {
  align-content: center;
}
.pbta.sheet.item.playbook .sheet-body .tab[data-tab=attributes] .flexrow span {
  font-weight: bold;
  font-size: 1.5em;
  margin: 20px 0 5px 0;
}
.pbta.sheet.item.playbook .sheet-body a[data-action=add-attribute-choice] {
  background: #fff;
  border: 1px solid #000;
  line-height: 1;
  margin: 0px 10px;
  padding: 1px 9px;
  border-radius: 3px;
}

/* Actor Sheets */
.pbta.sheet .cell__checkboxes {
  gap: 5px;
}
.pbta.sheet .cell__checkboxes label.flexrow,
.pbta.sheet .cell__radio label.flexrow {
  align-items: start;
  font-weight: normal;
}
.pbta.sheet .cell--companion {
  margin-top: 20px;
  padding-top: 10px;
  border-top: 3px solid black;
}
.pbta.sheet .cell--companion .cell__title {
  border-bottom: none;
  font-size: 2em;
}
.pbta.sheet .cell--companion .items-list {
  margin: 0;
  padding: 0;
}
.pbta.sheet .cell--companion .items-list .item {
  margin: 5px;
}
.pbta.sheet .cell--companion .item-name {
  font-weight: bold;
  flex: auto;
  margin: 0;
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  border: none;
}
.pbta.sheet .cell--companion .items-list .item {
  border: 5px double black;
  padding: 10px;
  margin: 0 0 10px 0;
  background-color: #dddedf;
}
.pbta.sheet .hidden {
  display: none;
}
.pbta.sheet .sheet-bottom .cell--attributes-left .cell--attr-lookOne input,
.pbta.sheet .sheet-bottom .cell--attributes-left .cell--attr-lookTwo input,
.pbta.sheet .sheet-bottom .cell--attributes-left .cell--attr-lookThree input,
.pbta.sheet .sheet-bottom .cell--attributes-left .cell--attr-lookFour input {
  font-weight: normal;
}
.pbta.sheet .sheet-bottom .cell--attributes-left .cell--attr-lookTwo,
.pbta.sheet .sheet-bottom .cell--attributes-left .cell--attr-lookThree,
.pbta.sheet .sheet-bottom .cell--attributes-left .cell--attr-lookFour,
.pbta.sheet .sheet-bottom .cell--attributes-left .cell--attr-fourthAgenda {
  margin-top: 5px;
}
.pbta.sheet .sheet-bottom .cell--attributes-left .cell--attr-lookTwo .cell__title,
.pbta.sheet .sheet-bottom .cell--attributes-left .cell--attr-lookThree .cell__title,
.pbta.sheet .sheet-bottom .cell--attributes-left .cell--attr-lookFour .cell__title,
.pbta.sheet .sheet-bottom .cell--attributes-left .cell--attr-fourthAgenda .cell__title {
  display: none;
}
.pbta.sheet .sheet-bottom .cell--attributes-left .cell--attr-lookFour {
  margin-bottom: 15px;
}
.pbta.sheet .sheet-bottom .description .sheet-tab {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: flex-start;
}
.pbta.sheet .sheet-bottom .description .sheet-tab .cell--bio {
  flex-basis: 100%;
  margin-top: 10px;
}
.pbta.sheet .sheet-bottom .description .sheet-tab .cell--bio .editor-content {
  min-height: 75px;
}
.pbta.sheet .sheet-resources .cell--roll-mode {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.pbta.sheet .sheet-resources .cell--roll-mode .cell__title {
  grid-column: span 3;
  margin-top: 4px;
}
.pbta.sheet .sheet-resources .cell {
  text-align: center;
}
.pbta.sheet .sheet-resources .cell > .cell__title {
  justify-content: unset;
  border-bottom: 0px;
  margin: 0px;
}
