/* Colors */
$c-red: #7d1208;
$c-dark-red-trans: #31070376;
$c-light-red: #b17772;
$c-bright-red: #a6170a;
$c-dark-grey: #272c33;
$c-dark-grey-75: rgba(39, 44, 51, 0.75);
$c-dark-grey-50: rgba(39, 44, 51, 0.5);
$c-med-grey: #3f4652;
$c-lighter-grey: #ebeced;
$c-light-grey: #dddedf;
$c-light-grey2: #c1c1c1;
$c-gold: #f5b56a;