@use '../base/colors' as *;
@use '../base/typography' as *;
@use '../base/vars' as *;

.pbta.sheet {
    .window-content {
        background-color: $c-lighter-grey;
        background: url("#{$layout-path}background.webp");
        background-size: cover;
        background-position: left top;
        background-repeat: no-repeat;
        color: $c-dark-grey;
        padding: 0;

        .sheet-header {
            padding: 8px;
            background-color: $c-dark-grey;

            .header-fields {
                color: $c-lighter-grey;
            }
        }

        .sheet-top {
            .sheet-attributes {
                padding: 8px;
                background-color: $c-med-grey;
                background: url("#{$layout-path}background-header.webp");
                background-size: cover;
                background-position: left top;
                background-repeat: no-repeat;
                .cell__title {
                    color: $c-lighter-grey;
                    border-bottom: 2px solid $c-light-grey2;
                    text-transform: uppercase;
                }
            }

            .sheet-attributes-top {
                padding: 0;
                border: none;
                margin: 0;
            }
        }

        .sheet-bottom {
            padding: 8px;
        }
    }

    button:disabled {
        background-color: rgba(153, 153, 153, 0.092);
        color: rgba(84, 84, 84, 0.424);
        border-color: rgba(84, 84, 84, 0.424);
        cursor: default;

        &:hover {
            background-color: rgba(153, 153, 153, 0.092);
            color: rgba(84, 84, 84, 0.424);
            border-color: rgba(84, 84, 84, 0.424);
            cursor: default;
        }
    }

    // generic cell styles
    .cell__checkboxes{
        gap: 5px;
    }

    .cell__checkboxes 
    label.flexrow, 
    .cell__radio 
    label.flexrow {
        align-items: start;
        font-weight: normal;
    }
    
    // Enriched links
    a.content-link, a.inline-roll {
        background: none;
        color: $c-dark-grey;
        font-weight: bold;
        padding: 2px 2px;
        border: none;
        border-radius: none;

        i {
            color: $c-dark-grey-75;
        }

        &:hover {
            color: $c-bright-red;

            i {
                color: $c-bright-red;
            }
        }
    }

    .tag--quantity {
        display: none;
    }

    .cell--image {
        background: $c-dark-grey-75;
    }

    .caps {
        text-transform: uppercase;
    }

    h1, h2, h3, h4, h2 label {
        border: none;
    }

    h1, h2, h3, h2 label {
        font-family: $font-header;
    }
    .sheet-tabs .item {
        font-family: $font-header;
    }

    .cell__title {
        font-family: $font-header;
        font-weight: bold;
        color: $c-med-grey;
        border-bottom: 2px solid $c-med-grey;
        text-transform: uppercase;
    }

    header.sheet-header h1 input {
        margin: 0;
    }

    &.window-app input:disabled, 
    &.window-app select:disabled, 
    &.window-app textarea:disabled {
        color: $c-lighter-grey;
        background-color: $c-med-grey;
        padding: 0 8px;
    }

    &.window-app input, 
    &.window-app button, 
    &.window-app select, 
    &.window-app textarea {
        background-color: $c-light-grey;
        color: $c-dark-grey;
        padding: 0 8px;
    }
    
    .window-resizable-handle {
        background: $c-med-grey;
    }

    .editor-content {
        background-color: $c-light-grey;
        border-radius: 4px;
        padding: 0 8px;
    }

    .window-header {
        background-color: $c-dark-grey;
    }

    .tabs .item {
        border-radius: 4px 4px 0 0;
        background: $c-light-grey2;
        color: $c-med-grey;
        margin: 0 4px;
        padding: 4px;
        line-height: 1.6;
        text-transform: uppercase;
        font-size: var(--font-size-16);
        flex: 1;

        &.active {
            background: $c-dark-grey;
            color: $c-lighter-grey;
            text-shadow: none;
            font-weight: bold;
        }

        &:hover, &:focus {
            background: $c-bright-red;
            color: $c-lighter-grey;
            text-shadow: none;
        }
    }

    /* ###################### */
    // NPC & Character Styles
    /* ###################### */
    &.npc, &.character {
        .cell--aesthetics {
            &:first-child {
                .cell__title {
                    height: 35.6px;
                    margin-top: 4px;
                }
            }
        }

        // Companion & Stat cell styles on the actor sheets
        .cell--f-item {
            color: $c-dark-grey;
            
            .companion {
                margin-bottom: 10px;

                .bond {
                    align-items: center;
                    gap: 10px;

                    input[type="text"] {
                        max-width: 30px;   
                    }
                }

                .item-controls {
                    top: 0px;
                    width: unset;
                }
            }

            &.cell--companion {
                margin-top: 20px;
                padding-top: 10px;
                border-top: 3px dotted black;
            }

            .cell__title .item-controls {
                top: 4px;
            }
            
            .items-list {
                margin: 0;
                padding: 0;

                .item-controls {
                    flex: 0 0 auto;
                }

                .item {
                    border: 4px double $c-dark-grey-50;
                    padding: 4px 8px;
                    margin: 0 0 8px 0;
                    background-color: $c-light-grey;

                    .flexrow {
                        gap: 4px;
                        align-items: center;
                        justify-content: space-between;
                
                        h2 {
                            flex: 0 1 auto;
                        }

                        .item-name {
                            margin: 0;
                        }
                
                        label {
                            align-self: self-start;
                        }
                    }
                }
            }
        }

        .sheet-bottom {
            // Look for Character & Overlord
            .cell--attributes-left {
        
                .cell--attr-lookOne, 
                .cell--attr-lookTwo, 
                .cell--attr-lookThree, 
                .cell--attr-lookFour {
                    input {
                        font-weight: normal;
                        font-size: medium;
                        // line-height: 0;
                        height: 22px;
                    }
                }
        
                .cell--attr-lookTwo, 
                .cell--attr-lookThree, 
                .cell--attr-lookFour,
                .cell--attr-fourthAgenda {
                    margin-top: 3px;
                    .cell__title {
                        display: none;
                    }
                }
        
                .cell--attr-lookFour {
                    margin-bottom: 15px;
                }
            }

            .description 
            .sheet-tab {
                display: flex;
                flex-flow: row wrap;
                justify-content: space-between;
                align-content: flex-start;

                .cell--bio {
                    flex-basis: 100%;
                    margin-top: 10px;
                    .editor-content {
                        min-height: 100px;
                    }
                }
                &:first-child {
                    margin-top: 0px;
                }
            }
        }
    }
}

