@use '../base/colors' as *;

.pbta.sheet.npc {

    form.overlord {

        select {
            width: 100%;
        }

        .cell--image img {
            max-height: 180px;
        }

        .cell--aesthetics {
            width: 180px;
        }

        .sidebar {
            flex: 0;
        }

        .sheet-wrapper 
        .editor-container {
            min-height: 300px;
        }
        
        .sheet-wrapper 
        .sheet-top 
        .sheet-attributes {
            align-items: start;

            .cell__title {
                padding: 0;

                .item-controls {
                    top: unset;
                }
            }

            .items-list {
                margin-top: 10px;
            }
        }

        .cell--aesthetics 
        .cell--thirdAgenda
        .input--thirdAgenda {
            display: none;
        }

        .cell--f-item {
            .cell__title.overlord-stat-label {
                margin-top: 0;
            }

            .overlord-stats-list {
                display: flex;
                flex-direction: row;
                gap: 5px;
                flex-wrap: wrap;
                justify-content: space-evenly;
    
                .item {
                    border: 1px solid $c-dark-grey-50;
                    border-radius: 4px;
                    padding: 0 6px;
                    margin: 0;
                    background-color: $c-light-grey;
                    width: 49%;
                    align-self: flex-start;
    
                    &.disabled {
                        background-color: $c-light-red;
                        color: $c-light-grey;
    
                        .item-name {
                            text-decoration: line-through;
                        }
                    }
    
                    input[type="checkbox"] {
                        margin: 0;
                    }
    
                    .flexcol p {
                        margin: 2px 0;
                    }
    
                    .flexrow {
                        gap: 4px;
                        align-items: center;
                        justify-content: space-between;
                        margin: 4px 0;
                
                        h2 {
                            flex: 0 1 auto;
                        }
    
                        .item-name {
                            margin: 0;
                            line-height: 1;
                            width: fit-content;
                        }
                
                        label {
                            align-self: self-start;
                        }
                    }
                }
            }
        }

        .sheet-bottom {
            .sheet-tab {
                gap: 8px;
                padding-top: 4px;

                .cell__title {
                    justify-content:flex-start;
                    gap: 8px;

                    input[type="number"] {
                        max-width: 30px;   
                    }
                }

                .add-secret {
                    margin-bottom: 10px;
                }
            }

            .sheet-columns {
                display: flex;
                flex-direction: row;
                gap: 8px;
                margin-bottom: 8px;
            }

            .column {
                flex: 1;
                display: flex;
                flex-direction: column;
                width: fit-content;
                gap: 8px;
                width: 100%;

                .editor-content{
                    min-height: 100px;
                }
            }
            // .advancements 
            // .sheet-tab {
            //     display: flex;
            //     flex-flow: row wrap;
            //     justify-content: space-between;
            //     align-content: flex-start;

            //     .cell--bio {
            //         flex-basis: 100%;
            //         margin-top: 10px;
            //         .editor-content {
            //             min-height: 100px;
            //         }
            //     }
            //     &:first-child {
            //         margin-top: 0px;
            //     }
            // }
        }
    }
}