<div class="form-group-stacked fellowship-dialog">
  <h3>Choose the secret reason you're doing all of this.</h3>
  <i>You do not have to tell the fellowship your choice.</i>
  <div class="form-fields-stacked">
    {{radioBoxes "secretReason" options checked=key localize=true}}
  </div>
</div>