<div class="form-group-stacked fellowship-dialog">
  <h3>What Is Your Destiny?</h3>
  <p>Destinies are that secret inside of you that only you know. They are your true self, the you that only comes out in times of dire need, and only after something has...</br><b>...Changed.</b></p>
  <select name="uuid">
    {{selectOptions destinies selected=uuid valueAttr="uuid" labelAttr="name" blank="-" sort=true}}
  </select>
</div>