/* Colors */
$c-red: #7d1208;
$c-bright-red: #a6170a;
$c-dark-grey: #272c33;
$c-med-grey: #3f4652;
$c-lighter-grey: #ebeced;
$c-light-grey: #dddedf;
$c-light-grey2: #c1c1c1;
$c-gold: #f5b56a;

.vtt .window-app {
    &.dialog input[type=radio] {
        margin: 0 8px;
        flex: 0;
        align-self: center;
    }
 
    .window-header .window-title {
        margin: 0 0 0.5rem !important;
    }
}

.pbta.sheet.item {
    .sheet-body {
        padding: 8px;
    }
}

/* Playbook */
.pbta.sheet {

    // Core
    .caps {
        text-transform: uppercase;
    }

    h1, h2, h3, h4 {
        border: none;
        margin: 0.5rem 0 !important;
    }

    header.sheet-header h1 input {
        margin: 0;
    }

    &.window-app input:disabled, 
    &.window-app select:disabled, 
    &.window-app textarea:disabled {
        color: $c-light-grey2;
        background-color: $c-med-grey;
        height: 40px;
        padding: 0 8px;
    }

    &.window-app input, 
    &.window-app button, 
    &.window-app select, 
    &.window-app textarea {
        background-color: $c-light-grey;
        color: $c-dark-grey;
        padding: 0 8px;
    }

    .cell__title {
        color: $c-med-grey;
        border-bottom: 2px solid $c-med-grey;
        text-transform: uppercase;
    }

    .cell--companion
    .item-controls {
        flex: 0 0 auto;
    }

    .cell--companion 
    .items-list 
    .item 
    .flexrow {
        gap: 4px;
        align-items: center;

        h2 {
            margin: 0 !important;
            flex: 0 0 auto;
        }

        label {
            align-self: self-start;
        }
    }

    .editor-content {
        background-color: $c-light-grey;
        border-radius: 4px;
        padding: 0 8px;
    }

    .window-header {
        background-color: $c-dark-grey;
    }

    .window-content {
        background-color: $c-lighter-grey;
        color: $c-dark-grey;
        padding: 0;

        .sheet-header {
            padding: 8px;
            background-color: $c-dark-grey;

            .header-fields {
                color: $c-lighter-grey;
            }
        }

        .sheet-top {
            .sheet-attributes {
                padding: 8px;
                background-color: $c-med-grey;
                .cell__title {
                    color: $c-lighter-grey;
                    border-bottom: 2px solid $c-med-grey;
                    text-transform: uppercase;
                }
            }

            .sheet-attributes-top {
                padding: 0 8px;
                border: none;
                margin: 5px 0;
            }
        }

        .sheet-bottom {
            padding: 8px;
        }
    }

    .tabs .item {
        border-radius: 4px 4px 0 0;
        background: $c-light-grey2;
        color: $c-med-grey;
        margin: 0 4px;
        padding: 4px;
        line-height: 1.6;
        text-transform: uppercase;
        font-size: var(--font-size-16);
        flex: 1;

        &.active {
            background: $c-dark-grey;
            color: $c-lighter-grey;
            text-shadow: none;
            font-weight: bold;
        }

        &:hover, &:focus {
            background: $c-bright-red;
            color: $c-lighter-grey;
            text-shadow: none;
        }
    }

    .window-resizable-handle {
        background: $c-med-grey;
    }

    // stats
    .sheet-attributes .cell--stats .stat {
        background: $c-red;
        color: $c-lighter-grey;

        &:hover {
            background: $c-bright-red;
        }

        .cell__title {
            border-bottom: 1px solid $c-lighter-grey;
        }
    }
    
    // Items
    &.item {
    
        .window-content {
            .flexrow {
                a, input[type="checkbox"] {
                    flex: 0;
                }
            }
        }
    }

    // General
    button:disabled {
        background-color: rgba(153, 153, 153, 0.092);
        color: rgba(84, 84, 84, 0.424);
        border-color: rgba(84, 84, 84, 0.424);
        cursor: default;

        &:hover {
            background-color: rgba(153, 153, 153, 0.092);
            color: rgba(84, 84, 84, 0.424);
            border-color: rgba(84, 84, 84, 0.424);
            cursor: default;
        }
    }

    // Destiny
    .cell--destiny {
        margin-bottom: 10px;

        .flexrow{
            gap: 5px;
            align-items: center;
        }

        .view-destiny {
            flex: 0;
        }

        .fa-eye-slash {
            color: rgba(84, 84, 84, 0.424);
        }
    }

    .playbook-details {

        .flexrow {
            gap: 10px;
        }

        .flexcol {
            align-self: flex-start;
        }
        
    }

    &.item.playbook {
        .item-form 
        .item-controls {
            align-content: center;
        }
        
        .sheet-body {
            .tab[data-tab="attributes"] {
                .flexrow span{
                    font-weight: bold;
                    font-size: 1.5em;
                    margin: 20px 0 5px 0;
                }
            }
    
            a[data-action="add-attribute-choice"] {
                background: #fff;
                border: 1px solid #000;
                line-height: 1;
                margin: 0px 10px;
                padding: 1px 9px;
                border-radius: 3px;
            }
        }
    }
}

/* Actor Sheets */
.pbta.sheet {
    // generic cell styles
    .cell__checkboxes{
        gap: 5px;
    }

    .cell__checkboxes 
    label.flexrow, 
    .cell__radio 
    label.flexrow {
        align-items: start;
        font-weight: normal;
    }

    // companion cell styles
    .cell--companion {
        margin-top: 20px;
        padding-top: 10px;
        border-top: 3px solid black;

        .cell__title {
            border-bottom: none;
            font-size: 2em;
        }

        .items-list {
            margin: 0;
            padding: 0;

            .item {
            margin: 5px;
            }
        }

        .item-name {
            font-weight: bold;
            flex: auto;
            margin: 0;
            display: flex;
            align-items: stretch;
            justify-content: flex-start;
            border: none;
        }

        .items-list .item {
            border: 5px double black;
            padding: 10px;
            margin: 0 0 10px 0;
            background-color: $c-light-grey;
        }
    }

    // Used to hide stats based on the playbook selected
    .hidden {
        display: none;
    }

    // Make the attributes top cells layout better
    // .sheet-wrapper 
    // .sheet-top 
    // .sheet-attributes-top 
    // .cell--attributes-top {
    //     .cell .cell__title {
    //         min-height: 30px;
    //     }
    //     .cell--attr-fourthAgenda label {
    //         font-weight: normal;
    //         font-size: small;
    //     }
    
    //     .cell--attr-initialAgendas, 
    //     .cell--attr-fourthAgenda {
    //         flex: 2;
    //     }
    
    //     .cell--attr-level {
    //         flex: 1;
    //     }
    // }

    .sheet-bottom 
    .cell--attributes-left {
        
        .cell--attr-lookOne, 
        .cell--attr-lookTwo, 
        .cell--attr-lookThree, 
        .cell--attr-lookFour {
            input {
                font-weight: normal;
            }
        }

        .cell--attr-lookTwo, 
        .cell--attr-lookThree, 
        .cell--attr-lookFour,
        .cell--attr-fourthAgenda {
            margin-top: 5px;
            .cell__title {
                display: none;
            }
        }

        .cell--attr-lookFour {
            margin-bottom: 15px;
        }
    }

    .sheet-bottom 
    .description 
    .sheet-tab {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-content: flex-start;

        .cell--bio {
            flex-basis: 100%;
            margin-top: 10px;
            .editor-content {
                min-height: 75px;
            }
        }
    }

    // Make the roll mode cell look better in one line
    .sheet-resources {
        .cell--roll-mode {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 10px;

            .cell__title {
                grid-column: span 3;
                margin-top: 4px;
            }
        }

        .cell {
            text-align: center;

            &>.cell__title {
                justify-content: unset;
                border-bottom: 0px;
                margin: 0px;
            }
        }
    }
}