<div class="tab social" data-group="primary" data-tab="social">
	{{!-- Bonds --}}
	{{> "modules/fellowship-pbta/templates/parts/actor-bonds.hbs" }}
	{{!-- Companions --}}
	{{> "modules/fellowship-pbta/templates/parts/actor-companions.hbs" }}
</div>
