<div class="sheet-playbook flexrow">
    <div class="view-destiny {{#if currentDestinyUuid}}active{{/if}}"
        data-playbook="{{currentDestinyUuid}}"
        data-tooltip="{{localize 'FELLOWSHIP.ViewDestiny'}}"
        data-tooltip-direction="UP"
    >
        {{#if currentDestinyUuid}}
        <i class="fas fa-eye"></i>
        {{else}}
        <i class="fas fa-eye-slash"></i>
        {{/if}}
    </div>
    <select class="input--title char-destiny">
    {{selectOptions destinies selected=currentDestinyUuid valueAttr="uuid" labelAttr="name" }}
    </select>
</div>